$primary: blueviolet;
$error: red;
$success: green;
$warning: orange;
$info: #6204ac;
$primary-orange: #f97316;
$footer: #320278;
$footerBottom: #1b0043;
$secondary: #3a4951;
$light: #0a0a0a73;
$dark: #2b2b2b;
$white: #fff;
$whiteOpacity: rgba(0, 0, 0, 0.392);
$black: #000;
$yellow: #ffc1079d;
$gray: #868e9648;
$grayDark: #5a676e;
$grayLight: #e9ecef;
$grayLighter: #f3f3f3;
$formBackground: url("https://i.hizliresim.com/oo3jouw.png");
$contentBackGround: url("https://i.hizliresim.com/ejv8s0l.png");
